body{
    background-image: url('image/new.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;

}
#myimage{
    width:350px;
    height:250px;
    position:absolute;
    z-index:-1;
}

