/* login tab on nav  */
.login_tab{
    text-decoration: none;
    color: #FFFFFF8C;
}
.login_tab:hover{
    color: #FFFFFF8C;
}

/* Input field for comments */
.comment_input{
    border:none; 
    border-bottom: 2px solid gray; 
    width:100%;
}
